@import "tailwindcss";

@plugin "daisyui" {
  themes:
    light --default,
    night;
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));

@theme {
  --font-sans: var(--font-poppins), sans-serif;
  --font-display: var(--font-playfair), serif;
}
